################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/MFCTest02/MFCTest02/x64/Debug
/MFCTest02/x64/Debug
/OpenCV
/RasberryPi_Proj/.vs
/HelloCV
/MFCTest02
/Sample/.vs/Sample/v17
/Sample/Sample/x64/Debug
/Sample/x64/Debug
/WinFormCS
/VSCodeUserSetup-x64-1.85.1.exe
/Sample/.vs/Sample/FileContentIndex
/CH_4/.vs/CH_4
/CH_4/CH_4/x64/Debug
/CH_4/keyboard/x64/Debug
/CH_4/mouse/x64/Debug
/CH_4/storage/x64/Debug
/CH_4/util/x64/Debug
/CH_4/video/x64/Debug
/CH_4/x64/Debug
/CH_11/.vs/CH_11
/CH_11/CH_11/x64/Debug
/CH_11/x64/Debug
/CH_7
/images
/CH_12/.vs/CH_12
/CH_12/CH_12/x64/Debug/CH_12.tlog
/CH_12/CH_12/x64/Debug
/CH_12/x64/Debug
/CH_12/dd/x64/Debug/dd.tlog
/CH_12/dd/x64/Debug
/CH_12/Contour/x64/Debug/Contour.tlog
/CH_12/Contour/x64/Debug
/CH_13/.vs/CH_13
/CH_14/CH_14/x64/Debug
/CH_14/FAST/x64/Debug
/CH_14/.vs/CH_14
/CH_14/KeyPoints/x64/Debug
/CH_14/x64/Debug
