# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConsoleApplication1/.vs/ConsoleApplication1
/ConsoleApplication1/x64/Debug
/ConsoleApplication33
/ConsoleApplication2/.vs/ConsoleApplication2/v17
/ConsoleApplication2
/ConsoleApplication3/x64/Debug/ConsoleA.4217e243.tlog
/ConsoleApplication3/.vs/ConsoleApplication3/v17
/Intel_Edge/.vs/Intel_Edge
/Intel_Edge/Test1/x64/Debug
/Intel_Edge/x64/Debug
/mini project/.vs/mini project/FileContentIndex
/mini project/x64/Debug/mini project.tlog
/mini project/x64/Debug
/mini project/.vs/mini project/v17/ipch/AutoPCH/70159bdd278c7282
/mini project/.vs/mini project/v17/ipch/AutoPCH/1a0ebdd41e35e782
/mini project/.vs/mini project/v17
/.vs/Intel/v17
/Intel_Edge/ClassTest1/x64/Debug
/MissionRect/MissionRect/x64/Debug/MissionRect.tlog
/MissionRect/MissionRect/x64/Debug
/MissionRect/.vs/MissionRect/v17
/MissionRect/.vs/MissionRect/FileContentIndex
/MissionRect/x64/Debug
/Intel_Edge/Student/x64/Debug/Student.tlog
/Intel_Edge/Student/x64/Debug
/Intel_Edge/ArrTest/x64/Debug
/Intel_Edge/TemplateTest/x64/Debug
/Figure Class/.vs/Figure Class/v17
/Figure Class/.vs/Figure Class/FileContentIndex
/Mission_Prj2/.vs/Array_Prj/FileContentIndex
/Mission_Prj2/.vs/Array_Prj/v17
/Mission_Prj2/x64/Debug
/[ArrayPlusAvg]_Prj/x64/Debug/[ArrayPl.9434a1ca.tlog
/[ArrayPlusAvg]_Prj/x64/Debug
/[ArrayPlusAvg]_Prj/x64/Debug
/[Management_Staff]_Prj/x64/Debug/[Managem.fba2d52b.tlog
/[Management_Staff]_Prj/x64/Debug/[Managem.fba2d52b.tlog
/[Management_Staff]_Prj/x64/Debug
/[Management_Staff]_Prj/x64/Debug
/[Management_Staff]_Prj/x64/Debug
/[Management_Staff]_Prj/x64/Debug
/[ArrayPlusAvg]_Prj/x64/Debug
/MFCTest02/x64/Debug
/MFCTest02/MFCTest02/x64/Debug
/MFCTest02/.vs/MFCTest02/v17
/MFCTest02/.vs/MFCTest02/FileContentIndex
/.vs
/MFCTest02/mfcMemo/x64/Debug
/RasberryPi_Proj/.vs/RasberryPi_Proj/v17
/RasberryPi_Proj/.vs/RasberryPi_Proj/FileContentIndex
/RasberryPi_Proj/.vs
/MFCTest02/mfcMemo/res
/WinFormCS
ML/test.ipynb
/HelloCV/.vs/HelloCV
/HelloCV/x64/Debug
/HelloCV/HelloCV/x64/Debug
/OpenCV
/Sample
